* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

header {
  height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 3.5rem;
  color: #34b334;
}

.game-board {
  width: 90vw;
  height: 80vh;
  border: 1px solid #34b334;
}

.enemy-section {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player-section {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.points-info {
  height: 30%;
  width: 100%;
  color: #34b334;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 1.5rem;
}

.player-section > div {
  font-size: 1.4rem;
}

button {
  font-size: 1.4rem;
  padding: 5px 30px;
  margin-top: 20px;
}

#start {
  background-color: #34b334;
}

#shoot {
  background-color: red;
}

.mother-box {
  border: 2px solid red;
  padding: 15px 15px;
  background-color: #b81010;
}

.defence-box {
  border: 2px solid blue;
  padding: 15px 15px;
  background-color: #1616b4;
}

.attack-box {
  border: 2px solid yellow;
  padding: 15px 15px;
  background-color: #c9c90f;
}