body {
  background-color: lightgrey;
}

.top-flag {
  width: 330px;
  height: 210px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(black 70px, red 70px 140px, gold 140px);
}

.bottom-flag {
  width: 330px;
  height: 210px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right,  #0055A4 110px, #FFFFFF 110px 220px, red 220px);
}

.top-flag:hover {
  background: linear-gradient(red 70px, white 70px 140px, green 140px);
}

.bottom-flag:hover {
  background: linear-gradient(to right, green 110px, white 110px 220px, orange 220px);
}