* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

// color variables
$body-color: #1a1f23;
$landing-text-color: #c3dcaf;
$primary-color: #fff;
$section-heading-color: #3e92cc;
$card-color: #343e46;

body {
  background-color: $body-color;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: $body-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    color: $landing-text-color;
    text-decoration: none;
  }
}

main {
  background-color: $body-color;
  color: $primary-color;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing-page {
  height: 90vh;
  color: $landing-text-color;
  background-image: url(images/chris-ried-ieic5Tq8YMk-unsplash.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__greeting {
    line-height: 1.6;
    margin-left: 1em;
    padding: 2em;

    &--bold {
      font-weight: bold;
    }

    &--unbold {
      font-weight: normal;
    }
  }
}

header {
  text-align: center;
  color: $section-heading-color;
  padding: 2em;
}

.card {
  background-color: $card-color;
  border-radius: 5px;
  padding: 1em;
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  padding: 2em 0;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    justify-items: center;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__image {
    height: 40vh;
  }

  &__info {
    height: 80vh;
    border-top: 2px solid $section-heading-color;
    border-bottom: 2px solid $section-heading-color;
    padding: 2em 0em;

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
    }
  }
}

.projects h2 {
  padding-bottom: 1em;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  a {
    color: $landing-text-color;
    display: block;
    margin-top: 30px;
    text-decoration: none;
    width: min-content;
  }

  p {
    font-weight: bold;
    font-size: 1.3em;
  }

  &__email {
    display: flex;
    align-items: baseline;

    i {
      margin-left: 0.3em;
    }
  }
}

button {
  border-radius: 5px;
  color: $landing-text-color;
  background-color: $card-color;
  padding: 1em;
}

// media query tablet

@media only screen and (min-width: 576px) {
  .skills__cards {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3em;
  }

  .card {
    width: 90px;
  }
}

// media query laptop

@media only screen and (min-width: 992px) {
  .skills__cards {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 3em;
  }

  .card {
    width: 100px;
    height: 100px;
    justify-content: center;
  }

  .landing-page__greeting {
    font-size: 1.7em;
    line-height: 1.6;
  }

  .contact {
    align-items: flex-start;
    padding: 2em 2em 2em 0em;
    font-size: 1.2em;
  }

  .projects {
    flex-direction: row;

    &__info {
      width: 35%;
      display: flex;
      flex-direction: column;
      border-left: 2px solid $section-heading-color;
      border-right: 2px solid $section-heading-color;
      border-top: unset;
      border-bottom: unset;
      padding: 2em;

      &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
    }

    &__image {
      width: 65%;
    }
  }
}
