.nav {
    width: 20vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    top: 20vh;
    padding-top: 1.8rem;
}

.info {
    padding-top: 1.8rem;
    font-size: 1.1rem;
    text-decoration: #1BA7CD solid underline 2px;
    font-weight: 600;
}
