.employeeInfo {
    padding: 15px 15px;
    text-align: center;
    height: 50%;
    background-color: silver;
    border-radius: 15px 15px 0px 0px;
}

.fullName {
    font-size: 1.4rem;
    text-decoration: underline;
    margin-bottom: 10px;
}