* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.screen {
  width: 320px;
  height: 200px;
  background-color: #ffffffbf;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px 30px 0px 0px;
}
.screen_inner {
  border-radius: 25px;
  background: #ffffff14;
  box-shadow: inset 5px 5px 10px #ffffffcc, inset -5px -5px 10px #fff;
  width: 282px;
  height: 100px;
  text-align: right;
  line-height: 100px;
}

#output {
  color: #161515;
  font-size: 2rem;
  padding-right: 10px;
}

#calc-body {
  width: 320px;
  height: 500px;
  background-color: #ffffffbf;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  border-radius: 0px 0px 30px 30px;
  padding: 0px 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgrey;
}

button {
  width: 60px;
  height: 60px;
  font-size: 1.6rem;
  border-radius: 30px;
  border: none;
  background: #f9f7f7bf;
  box-shadow: 2px 3px 1px #ccccccbf, -2px -3px #ffffffc7;
}

button:active {
  border-radius: 50px;
  background: #f7f6f6;
  box-shadow: inset 6px 6px 12px #d2d1d1, inset -6px -6px 12px #ffffff;
}

#equals {
  color: green;
}

#cancel,
#brackets,
#percent,
#divide,
#times,
#minus,
#plus,
#decimal-point,
#delete {
  color: #ff9900;
}

#zero {
  grid-area: 5/1/5/3;
  width: 134px;
}